body{
    background-color: white;
}
p{
    font-size: 25px;
    color: brown;
}
button{
    width: 90px;
    height: 80px;
    color: rgb(134, 7, 102);
    margin-top: 30px;
    display: block;
    margin-left: 210px;
}
